@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  touch-action: none;
}

@layer components {
  .fourdot {
    height: 5px !important;
    box-sizing: border-box;
    @apply relative;
  }
  .fourdot__container {
    @apply flex flex-col justify-between w-4 h-4 mr-5 transition-all cursor-pointer;
  }
  .fourdot::before,
  .fourdot::after {
    content: " ";
    position: absolute;
    top: 0;
    height: 5px;
    width: 5px;
    border-radius: 10px;
  }
  .fourdot::before {
    @apply left-0;
  }
  .fourdot::after {
    @apply right-0;
  }
  .menu_container:hover > .fourdot__container {
    @apply rotate-[1080deg] duration-300;
  }
}
