@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
  canvas {
    touch-action: none;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .fourdot {
    height: 5px !important;
    box-sizing: border-box;
    @apply relative;
  }
  .fourdot__container {
    @apply flex flex-col justify-between w-4 h-4 mr-5 transition-all cursor-pointer;
  }
  .fourdot::before,
  .fourdot::after {
    content: " ";
    position: absolute;
    top: 0;
    height: 5px;
    width: 5px;
    border-radius: 10px;
  }
  .fourdot::before {
    @apply left-0;
  }
  .fourdot::after {
    @apply right-0;
  }
  .menu_container:hover > .fourdot__container {
    @apply rotate-[1080deg] duration-300;
  }
  .link {
    @apply relative p-0 font-normal outline-none cursor-pointer;
  }
  .link::before {
    @apply content-['']  absolute -bottom-[2px]   h-[2px] duration-300 rounded-full w-0;
  }
  .link:hover::before {
    @apply w-full bg-white;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #svgBackground {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 100%;
    height: 100%;
  }
  #svgBackground path {
    width: 100%;
    height: 100%;

    d: path(
      "m197.73,40.04C89.87,86.83,9.75,181.24.79,284.32c-8.95,103.07,58.47,210.11,168.24,253.55,109.01,43.14,236.34,22.21,353.75.48,71.33-13.2,147.34-28.6,197.09-74.23,65.64-60.19,63.92-157.35,21.87-231.35-39.95-70.3-127.78-160.54-205.48-203.42C444.98-21.04,288.28.76,197.73,40.04Z"
    );
    animation: morph 10s infinite;
  }
  @keyframes morph {
    0%,
    100% {
      d: path(
        "m393.02,191.5C285.15,238.29,87.8,106.43,8.27,346.38c-32.55,98.21,34.28,217.68,143.58,262.3,220.22,89.89,317.97,60.9,436.78,49.02,74.45-7.45,235.51-94.74,283.31-142.41,102.38-102.11,119.39-272.64,78.42-347.25C840.61-31.77,693.25,1.35,668.7,3.06c-104.01,7.23-185.14,149.16-275.68,188.44Z"
      );
    }
    60% {
      d: path(
        "m284.18,28.75C176.31,75.54,33.83,162.96,3.21,407.65c-23.67,189.13,87.79,341.75,197.09,386.37,220.22,89.89,276.51-88.83,395.33-100.72,74.45-7.45,214.18,104.9,308.45-2.37,117.39-133.58,6.59-300.55-27.55-378.53-106.74-243.82-216.32-261.67-238.76-271.78-117.42-52.94-263.04-51.15-353.59-11.87Z"
      );
    }
    30% {
      d: path(
        "m284.15,134.3C188.21,202.27,16.43,389.49.73,567.99c-10.58,120.24,95.14,198.27,207.02,235.97,181.57,61.19,279.66,23.21,387.68-7.31,72-20.35,219.82-132.72,264.77-241.71,67.8-164.41,171.79-231.4,75.79-375.92C807.75-14.01,658.01-2.18,589.93,1.57c-124.88,6.89-217,69.83-305.78,132.73Z"
      );
    }
  }
}
